@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
body {
    color: aliceblue;
    background-color: #D4A017;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

header {
    color: aliceblue;
    margin-bottom: 10px;
}

.logo {
    height: 50px;
    border-radius: 10%;
}
main {
    color: white;
    flex: 1; 
    margin-bottom: 5px;
    margin: 0;
    padding: 0;
    
}

h1 {
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 230%;
    color: white;
   
    font-weight: bold;
}

div.card-body {
    color: white;
    background-color: #D4A017;

}

a.btn.btn-light {
    background-color: #D4A017;
    color: white;

}

/* Contenedor del carrusel */
.quienes-somos {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}

/* Imágenes del carrusel */
.carousel-img {
    width: 100%;
    height: 60vh; /*  Mantiene la altura panorámica */
    object-fit: contain; /*  Muestra toda la imagen sin recortar */
    border-radius: 25px;
    background-color: black; /* Evita espacios blancos en los lados */
}

/* Ajustes para pantallas grandes (PC y laptops) */
@media (min-width: 1024px) {
    .carousel-img {
        height: 60vh; /* Mantiene la altura panorámica en PC */
    }
}

/* Ajustes para tablets */
@media (max-width: 1023px) {
    .carousel-img {
        height: 50vh;
    }
}

/* Ajustes para móviles (Celulares) */
@media (max-width: 768px) {
    .quienes-somos {
        max-width: 100%;
    }

    .carousel-img {
        width: 100%;
        height: auto; /*  Mantiene la proporción original */
        object-fit: contain; /* Evita recortes */
        border-radius: 20px;
    }
}

/* Ajustar el formulario en dispositivos móviles */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
}
.social-icon {
    width: 50px;
    height: 100px;
    object-fit: contain;
    transition: transform 0.2s ease-in-out;
}

.social-icon:hover {
    transform: scale(1.1);
}


footer {
    position:relative;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    width: 100%;
    z-index: index 1000;
    padding: 1rem;
}
.creativo {
    width: 70px;
}

